@font-face {font-family: 'Neuron';src: url('/assets/fonts/2B61DE_0_0.eot');src: url('/assets/fonts/2B61DE_0_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/2B61DE_0_0.woff') format('woff'),url('/assets/fonts/2B61DE_0_0.ttf') format('truetype');}
@font-face {font-family: 'NeuronExtraLight';src: url('/assets/fonts/2B61DE_1_0.eot');src: url('/assets/fonts/2B61DE_1_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/2B61DE_1_0.woff') format('woff'),url('/assets/fonts/2B61DE_1_0.ttf') format('truetype');}
@font-face {font-family: 'NeuronBold';src: url('/assets/fonts/2B61DE_2_0.eot');src: url('/assets/fonts/2B61DE_2_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/2B61DE_2_0.woff') format('woff'),url('/assets/fonts/2B61DE_2_0.ttf') format('truetype');}
@font-face {font-family: 'NeuronBold-Italic';src: url('/assets/fonts/2B61DE_3_0.eot');src: url('/assets/fonts/2B61DE_3_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/2B61DE_3_0.woff') format('woff'),url('/assets/fonts/2B61DE_3_0.ttf') format('truetype');}
@font-face {font-family: 'NeuronDemiBold';src: url('/assets/fonts/2B61DE_4_0.eot');src: url('/assets/fonts/2B61DE_4_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/2B61DE_4_0.woff') format('woff'),url('/assets/fonts/2B61DE_4_0.ttf') format('truetype');}
@font-face {font-family: 'Neuron-Black';src: url('/assets/fonts/2B61DE_5_0.eot');src: url('/assets/fonts/2B61DE_5_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/2B61DE_5_0.woff') format('woff'),url('/assets/fonts/2B61DE_5_0.ttf') format('truetype');}
@font-face {font-family: 'NeuronLight-Italic';src: url('/assets/fonts/2B61DE_6_0.eot');src: url('/assets/fonts/2B61DE_6_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/2B61DE_6_0.woff') format('woff'),url('/assets/fonts/2B61DE_6_0.ttf') format('truetype');}
@font-face {font-family: 'NeuronHeavy';src: url('/assets/fonts/2B61DE_7_0.eot');src: url('/assets/fonts/2B61DE_7_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/2B61DE_7_0.woff') format('woff'),url('/assets/fonts/2B61DE_7_0.ttf') format('truetype');}
@font-face {font-family: 'Neuron-Italic';src: url('/assets/fonts/2B61DE_8_0.eot');src: url('/assets/fonts/2B61DE_8_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/2B61DE_8_0.woff') format('woff'),url('/assets/fonts/2B61DE_8_0.ttf') format('truetype');}
@font-face {font-family: 'NeuronLight';src: url('/assets/fonts/2B61DE_9_0.eot');src: url('/assets/fonts/2B61DE_9_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/2B61DE_9_0.woff') format('woff'),url('/assets/fonts/2B61DE_9_0.ttf') format('truetype');}
@font-face {font-family: 'NeuronHeavy-Italic';src: url('/assets/fonts/2B61DE_A_0.eot');src: url('/assets/fonts/2B61DE_A_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/2B61DE_A_0.woff') format('woff'),url('/assets/fonts/2B61DE_A_0.ttf') format('truetype');}
@font-face {font-family: 'NeuronExtraBold';src: url('/assets/fonts/2B61DE_B_0.eot');src: url('/assets/fonts/2B61DE_B_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/2B61DE_B_0.woff') format('woff'),url('/assets/fonts/2B61DE_B_0.ttf') format('truetype');}
@font-face {font-family: 'NeuronDemiBold-Italic';src: url('/assets/fonts/2B61DE_C_0.eot');src: url('/assets/fonts/2B61DE_C_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/2B61DE_C_0.woff') format('woff'),url('/assets/fonts/2B61DE_C_0.ttf') format('truetype');}
@font-face {font-family: 'NeuronBlack-Italic';src: url('/assets/fonts/2B61DE_D_0.eot');src: url('/assets/fonts/2B61DE_D_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/2B61DE_D_0.woff') format('woff'),url('/assets/fonts/2B61DE_D_0.ttf') format('truetype');}
@font-face {font-family: 'NeuronExtraBold-Italic';src: url('/assets/fonts/2B61DE_E_0.eot');src: url('/assets/fonts/2B61DE_E_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/2B61DE_E_0.woff') format('woff'),url('/assets/fonts/2B61DE_E_0.ttf') format('truetype');}
@font-face {font-family: 'NeuronExtraLight-Italic';src: url('/assets/fonts/2B61DE_F_0.eot');src: url('/assets/fonts/2B61DE_F_0.eot?#iefix') format('embedded-opentype'),url('/assets/fonts/2B61DE_F_0.woff') format('woff'),url('/assets/fonts/2B61DE_F_0.ttf') format('truetype');}