.route-header {
  &__container {
    height: 60px;
    width: 100vw;
    position: absolute;
    top: -70px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    transform: translateY(0px);
    box-shadow: 0px -1px 10px 0px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
    
    &::before{
      content: '';
      position: absolute;
      display: flex;
      width: 25px;
      height: 25px;
      left: 20px;
      top:50%;
      transform: translateY(-50%);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      background-image: url(/assets/img/back_mobile_arrow.svg);
    }

    &.active {
      transform: translateY(70px);
      transition: transform 0.3s ease 0.3s;
    }
  }

  &__title {
    font-family: Neuron;
    font-size: 16px;
    text-transform: uppercase;
  }
}

div#routeIcon {
  height: 25px;
  width: 25px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  margin-right: 10px;

  &.metro {
    background-image: url(/assets/img/metro_icon.png);
  }

  &.mcad{
    background-image: url(/assets/img/mcad_icon.png);
  }

  &.highway{
    background-image: url(/assets/img/highway_icon.png);
  }

  &.airport{
    background-image: url(/assets/img/airport_icon.png);
  }
}

.route-navigation{

  &__container {
    position: absolute;
    bottom: -130px;
    left: 0;
    height: 130px;
    width: 100vw;
    z-index: 10;
    overflow: hidden;
    background: #f2f2f2;
    box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.4);
    transform: translateY(0px);
    transition: transform 0.3s ease;

    &.active{
      transform: translateY(-130px);
      transition: transform 0.3s ease 0.3s;
    }
  }

  &__slider {
    width: 100vw;
    height: 60px;
    background: #fff;
    box-shadow: 0px -20px 100px 0px rgba(0,0,0,0.4);
  }

  &__time{
    font-family: NeuronBold;
    font-size: 18px;
    text-transform: uppercase;
    display: flex !important;
    justify-content: center;
    align-items: center;
    height: 40px;
  }

  &__path {
    width: auto;
    height: 70px;
    padding: 0 15px;
    display: none;
    align-items: center;
    overflow: scroll;

    &.active{
      display: flex;
    }
  }
}

.route-description{

  &__container{
    width: 90%;
    position: absolute;
    top: 0;
    left: 50%;
    background: #fff;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 15px;
    box-shadow: 0 3px 8px 0px rgba(0,0,0,0.3);
    transform: translate(-50%, -170px);
    transition: transform 0.3s ease;

    &.active{
      transform: translate(-50%, 70px);
    }
  }

  &__title {
    font-size: 20px;
    font-family: NeuronBold;
  }

  &__des {
    margin-top: 5px;
    font-size: 14px;
    font-family: NeuronLight;
  }


  &__exit {
    position: absolute;
    top: 50%;
    right: 10px;
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 15px;
    background-image: url(/assets/img/description_closed.png);
    transform: translateY(-50%);
  }
}

