.slick-prev {
  left: 0px;
  height: 60px;
  width: 60px;
  z-index: 100;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 25px;
  background-image: url(/assets/img/slick_arrow.svg);
  transform: translate(0, -50%) rotate(180deg);
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;

  &.slick-disabled {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 25px;
    background-image: url(/assets/img/slick_arrow.svg);
    opacity: 0.1;
    pointer-events: none;
    cursor: default;

    &:hover {
      opacity: 0.1;
    }
  }

  &:hover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 25px;
    background-image: url(/assets/img/slick_arrow.svg);
    opacity: 1;
  }

  &::before {
    display: none;
  }
}

.slick-next {
  right: 0px;
  height: 60px;
  width: 60px;
  z-index: 100;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px 25px;
  background-image: url(/assets/img/slick_arrow.svg);
  transform: translate(0, -50%);
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.3s ease;

  &.slick-disabled {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 25px;
    background-image: url(/assets/img/slick_arrow.svg);
    opacity: 0.1;
    pointer-events: none;
    cursor: default;

    &:hover {
      opacity: 0.1;
    }
  }

  &:hover {
    background-repeat: no-repeat;
    background-position: center;
    background-size: 25px 25px;
    background-image: url(/assets/img/slick_arrow.svg);
    opacity: 1;
  }

  &::before {
    display: none;
  }
}

.slick-dotted.slick-slider {
  margin-bottom: 0px;
}

.slick-dots {
  bottom: 5px;
}

.slick-dots li button {
  border: 1px solid #f1f1f1;
  border-radius: 100%;
  width: 10px;
  height: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;

  &:hover{
    border: 1px solid #fc381d;

    &::before{
      position: relative;
      line-height: 0;
      color: #fc381d;
      opacity: 0.5;
    }
  }
}

.slick-dots li.slick-active button {
  border: 1px solid #fc381d;
}

.slick-dots li.slick-active button:before {
  content: '';
  background-color: #E22954;
  opacity: 1 !important;
}

.slick-dots li button::before {
  position: relative;
  width: 6px;
  height: 6px;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 100%;
  margin: 0 auto;
  line-height: 0;
  background-color: transparent;
  content: '';
}
