.accessibility-tabs {

  &__block {
    display: flex;
    width: 100%;
  }

  &__item {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 25px 0;
    border-radius: 10px 10px 0 0;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 1px 4px 0 rgba(142, 142, 143, 0);
    text-transform: uppercase;
    font-size: 18px;
    transform: translate3d(0, 5px, 0);
    transition: box-shadow .3s ease, background-color .3s ease, transform .3s ease;
    cursor: pointer;
    @include respond-to(mobile) {
      padding: 15px 0;
      font-size: 16px;
    }

    & img {
      height: 25px;
      margin-right: 15px;
      @include respond-to(mobile) {
        height: 10px;
        margin-right: 5px;
      }
    }

    &:hover {
      background-color: rgba(255, 255, 255, .5);

      &::after {
        opacity: .5;
      }
    }

    &.active {
      transform: translate3d(0, 0, 0);
      background-color: rgba(255, 255, 255, 1);
      box-shadow: 0 1px 4px 0 rgba(142, 142, 143, .14);

      &::after {
        opacity: 1;
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: -9px;
      width: 100%;
      height: 10px;
      background: white;
      z-index: 2;
      opacity: 0;
      transition: opacity .3s ease;
    }
  }
}

