.accessibility-news-panel {

  &__block {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    background-color: $lgrey;
    border-radius: 10px 10px 0 0;
    transform: translate3d(0, calc(100% - 70px), 0);
    box-shadow: 0 0 10px 0 rgba(204, 204, 204, 1);
    transition: transform .3s ease;
    overflow: hidden;
    @include respond-to(mobile) {
      border-radius: 0;
      transform: translate3d(0, calc(100% - 100px), 0);
    }

    &.hidden {
      transform: translate3d(0, 100%, 0);
    }

    &.active {
      transform: translate3d(0, 0, 0);
      @include respond-to(mobile) {
        overflow: scroll;
      }

      & .accessibility-news-panel {

        &__title {
          font-family: $NBL;
          font-size: 26px;
          line-height: .8;
          margin-bottom: 12px;
          @include respond-to(mobile) {
            font-size: 22px;
          }
        }

        &__button {
          @include respond-to(mobile) {
            top: 5px;
            right: 5px;
            width: 46px;
            height: 46px;
            padding: 15px;
            box-sizing: border-box;
          }

          &::before, &::after {
            bottom: 0;
            width: 22px;
            @include respond-to(mobile) {
              bottom: 15px;
            }
          }

          &::before {
            @include respond-to(mobile) {
              left: 15px;
            }
          }

          &::after {
            @include respond-to(mobile) {
              right: 15px;
            }
          }

          &:hover {
            transform: scale(1.2);
          }
        }
      }
    }
  }

  &__header {
    padding: 30px;
    box-sizing: border-box;
    @include respond-to(mobile) {
      padding: 20px 20px 10px;
    }
  }

  &__title {
    font-family: $NL;
    font-size: $h4;
    text-transform: uppercase;
    margin-bottom: 30px;
    transition: font .3s ease;
    @include respond-to(mobile) {
      margin-bottom: 15px;
    }
  }

  &__add {
    font-size: 14px;
    color: #999999;
    @include respond-to(mobile) {
      display: none;
    }
  }

  &__button {
    position: absolute;
    top: 30px;
    right: 30px;
    width: 16px;
    height: 16px;
    display: block;
    cursor: pointer;
    transition: transform .3s ease;
    @include respond-to(mobile) {
      top: 20px;
    }

    &:hover {
      transform: scale(1.2);
    }

    &::after, &::before {
      content: '';
      position: absolute;
      display: block;
      width: 11px;
      height: 1px;
      background: #434343;
      transition: width .3s ease;
    }

    &::before {
      bottom: 4px;
      left: 0;
      transform: rotate(-45deg);
      transform-origin: 0;
    }

    &::after {
      bottom: 4px;
      right: 0;
      transform: rotate(45deg);
      transform-origin: 100%;
    }
  }

  &__tabs {
    display: flex;
    padding: 0 30px;
    box-sizing: border-box;
    width: 100%;
    @include respond-to(mobile) {
      padding: 0;
    }
  }

  &__tab {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
    padding: 25px 0;
    border-radius: 10px 10px 0 0;
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 0 1px 4px 0 rgba(142, 142, 143, 0);
    text-transform: uppercase;
    font-size: 18px;
    transform: translate3d(0, 5px, 0);
    transition: box-shadow .3s ease, background-color .3s ease, transform .3s ease;
    cursor: pointer;
    @include respond-to(mobile) {
      font-size: 12px;
      padding: 20px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, .5);

      &::after {
        opacity: .5;
      }
    }

    &.active {
      transform: translate3d(0, 0, 0);
      background-color: rgba(255, 255, 255, 1);
      box-shadow: 0 1px 4px 0 rgba(142, 142, 143, .14);

      &::after {
        opacity: 1;
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      bottom: -9px;
      width: 100%;
      height: 10px;
      background: white;
      z-index: 2;
      opacity: 0;
      transition: opacity .3s ease;
    }
  }

  &__list {
    height: 100%;
  }
}