.accessibility-news-scheme {

  &__block {
    width: 100%;
    display: flex;
    padding: 30px;
    box-sizing: border-box;
    background-color: white;
    flex-shrink: 0;
    @include respond-to(mobile) {
      padding: 20px 0;
      overflow-x: scroll;
    }

    &.red {

      & .accessibility-news-scheme {

        &__item {

          &.active {
            &::after {
              border: 1px solid #e30519;
            }
          }

          &::after {
            border: 1px dashed #e30519;
          }
        }

        &__dot {
          background-color: #e30519;
        }
      }
    }

    &.black {

      & .accessibility-news-scheme {

        &__item {

          &.active {
            &::after {
              border: 1px solid black;
            }
          }

          &::after {
            border: 1px dashed black;
          }
        }

        &__dot {
          background-color: black;
        }
      }
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 70px;
    align-items: center;
    z-index: 1;
    @include respond-to(mobile) {
      width: 30vw;
      flex-shrink: 0;
    }

    &::after {
      content: '';
      position: absolute;
      display: block;
      top: 110px;
      left: 0;
      width: 100%;
      z-index: -1;
      @include respond-to(mobile) {
        top: 40px;
      }
    }

    &.active {

      & .accessibility-news-scheme {

        &__title {
          opacity: 1;
        }

        &__date {
          opacity: 1;
        }

        &__dot::after {
          display: none;
        }
      }
    }
  }

  &__title {
    position: absolute;
    bottom: 60px;
    left: 35px;
    transform: rotateZ(-45deg);
    transform-origin: 0 100%;
    font-family: $NR;
    font-size: 18px;
    white-space: nowrap;
    opacity: .5;
    @include respond-to(mobile) {
      position: relative;
      transform: rotateZ(0deg);
      left: 0;
      bottom: 0;
      margin-bottom: 10px;
    }
  }

  &__dot {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 12px;
    height: 12px;
    margin-top: 100px;
    margin-bottom: 10px;
    border: 5px solid white;
    border-radius: 30px;
    box-shadow: 0 7px 16px 0 rgba(0, 0, 0, .06), 0 7px 16px 0 rgba(0, 0, 0, .1);
    @include respond-to(mobile) {
      margin-top: 0;
    }

    &::after {
      content: '';
      display: block;
      width: 8px;
      height: 8px;
      border-radius: 20px;
      background-color: white;
    }
  }

  &__date {
    opacity: .5;
    font-family: $NR;
    font-size: 16px;
    color: black;
    text-align: center;
  }
}
