.accessibility-news-list {

  &__block {
    display: flex;
    flex-direction: column;
    height: 100%;

    &:nth-child(2) {
      display: none;
    }
  }

  &__image {
    display: block;
    width: 100%;
    padding: 30px;
    box-sizing: border-box;
    background-color: white;
    @include respond-to(mobile) {
      padding: 15px;
    }

    & img {
      width: 100%;
    }
  }

  &__container {
    flex-grow: 1;
    padding: 30px;
    box-sizing: border-box;
    box-shadow: inset 0 0 10px 2px rgba(182, 179, 179, .42);
    @include respond-to(mobile) {
      height: 100vh;
      padding: 0;
      flex-shrink: 0;
    }
  }

  &__tabs {
    position: relative;
    overflow: hidden;
    margin-bottom: 26px;
    padding-bottom: 4px;
    @include respond-to(mobile) {
      margin-bottom: 0;
      background: white;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, .1);
      padding: 0 20px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: 3px;
      left: 0;
      display: block;
      width: 100%;
      height: 1px;
      background-color: #a1a0a0;
      z-index: 0;
      @include respond-to(mobile) {
        display: none;
      }
    }

    & .slick-arrow {
      top: 50%;
      background: url('/assets/img/list_arrow.svg') no-repeat center;
      background-size: contain;
      width: 12px;
      height: 6px;
      @include respond-to(mobile) {
        background: none;
        opacity: 1;
        padding: 21px 15px;

        &::before, &::after {
          content: '';
          position: absolute;
          top: 0;
          display: block;
          width: 13px;
          height: 3px;
          background-color: black;
          opacity: 1;
        }

        &::before {
          transform-origin: 0;
          left: 13px;
          transform: rotate(-45deg);
        }

        &::after {
          transform-origin: 100% 0;
          right: 15px;
          transform: rotate(45deg);
        }
      }

      &.slick-prev {
        transform: translate(0, -50%) rotate(90deg);
        @include respond-to(mobile) {
          transform: translate(-50%, -50%) rotate(90deg);
          left: 0;
        }
      }

      &.slick-next {
        transform: translate(0, -50%) rotate(-90deg);
        @include respond-to(mobile) {
          transform: translate(50%, -56%) rotate(-90deg);
          right: 0;
        }
      }
    }

    & .slick-list {
      margin: 0 20px;
      z-index: 2;

      &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        display: block;
        width: 50px;
        height: 100%;
        background: linear-gradient(to left, $lgrey, rgba(241, 240, 240, 0));
        @include respond-to(mobile) {
          display: none;
        }
      }
    }
  }

  &__lists {
    @include respond-to(mobile) {
      padding: 15px;
      box-sizing: border-box;
    }
  }

  &__tab {
    position: relative;
    margin: 10px;
    margin-bottom: 0;
    padding-bottom: 6px;
    opacity: .5;
    transition: opacity .3s ease;
    text-transform: uppercase;
    @include respond-to(mobile) {
      margin: 0;
      padding: 16px;
      font-family: $NB;
      font-size: 18px;
      text-align: center;
    }

    &:focus {
      outline: none;
    }

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: -2px;
      display: block;
      width: 100%;
      height: 3px;
      background-color: $red;
      transform: scaleX(0);
      transition: transform .3s ease;
      @include respond-to(mobile) {
        display: none;
      }
    }

    &.slick-active {
      font-family: $NB;
      opacity: 1;

      &::after {
        transform: scaleX(1);
      }
    }
  }

  &__news {
    height: calc(100vh - 490px);
    @include respond-to(mobile) {
      height: calc(100vh - 130px);
    }
  }

  &__date {
    font-family: $NB;
    font-size: $h3;
    margin-bottom: 10px;
  }

  &__title {
    margin-bottom: 15px;
    line-height: 20px;
  }

  &__text {
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 30px;
  }
}