.infra-list {

  &__block {
    padding: 30px 0 20px;
  }

  &__container {
    height: calc(100vh - 250px);
  }

  &__item {

    &.opened {

      & .infra-list__info {
        border-bottom: transparent 1px solid;

        &::after {
          opacity: 0;
        }
      }

      & .infra-list__title {
        text-decoration: underline;

        &::after {
          transform: translate(0, -50%) rotate(180deg);
        }
      }

      & .infra-list__icon {

        &.parking {
          background: url('/assets/img/infrastructure_icons/parking_icon-opened.svg') no-repeat center;
          background-size: contain;
        }

        &.school {
          background: url('/assets/img/infrastructure_icons/school_icon-opened.svg') no-repeat center;
          background-size: contain;
        }

        &.kidgarden {
          background: url('/assets/img/infrastructure_icons/kid-garden-opened.svg') no-repeat center;
          background-size: contain;
        }

        &.gym {
          background: url('/assets/img/infrastructure_icons/gym_icon-opened.svg') no-repeat center;
          background-size: contain;
        }

        &.medicine {
          background: url('/assets/img/infrastructure_icons/medicine_icon-opened.svg') no-repeat center;
          background-size: contain;
        }

        &.playground {
          background: url('/assets/img/infrastructure_icons/playground_icon-opened.svg') no-repeat center;
          background-size: contain;
        }

        &.shop {
          background: url('/assets/img/infrastructure_icons/shop_icon-opened.svg') no-repeat center;
          background-size: contain;
        }

        .mfc {
          background: url('/assets/img/infrastructure_icons/mfc_icon-opened.svg') no-repeat center;
          background-size: contain;
        }

        &.cafe {
          background: url('/assets/img/infrastructure_icons/cafe_icon-opened.svg') no-repeat center;
          background-size: contain;
        }
      }
    }
  }

  &__info {
    position: relative;
    display: flex;
    align-items: center;
    padding: 16px 0;
    margin: 0 30px;
    border-bottom: 1px solid rgba(161, 160, 160, .14);
    cursor: pointer;
    transform: translate3d(0, 0, 0);
    @include respond-to(mobile) {
      padding: 15px 0;
      margin: 0 15px;
    }

    &::after {
      content: '';
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(161, 160, 160, .54);
      transform: scaleX(0);
      transform-origin: 0;
      transition: opacity .2s ease-in, transform .2s ease-in;
    }

    &:hover {

      &::after {
        transform: scaleX(1);
      }
    }
  }

  &__icon {
    display: block;
    width: 30px;
    height: 30px;
    margin-right: 18px;

    &.parking {
      background: url('/assets/img/infrastructure_icons/parking_icon.svg') no-repeat center;
      background-size: contain;
    }

    &.school {
      background: url('/assets/img/infrastructure_icons/school_icon.svg') no-repeat center;
      background-size: contain;
    }

    &.kidgarden {
      background: url('/assets/img/infrastructure_icons/kid-garden.svg') no-repeat center;
      background-size: contain;
    }

    &.gym {
      background: url('/assets/img/infrastructure_icons/gym_icon.svg') no-repeat center;
      background-size: contain;
    }

    &.medicine {
      background: url('/assets/img/infrastructure_icons/medicine_icon.svg') no-repeat center;
      background-size: contain;
    }

    &.playground {
      background: url('/assets/img/infrastructure_icons/playground_icon.svg') no-repeat center;
      background-size: contain;
    }

    &.shop {
      background: url('/assets/img/infrastructure_icons/shop_icon.svg') no-repeat center;
      background-size: contain;
    }

    &.mfc {
      background: url('/assets/img/infrastructure_icons/mfc_icon.svg') no-repeat center;
      background-size: contain;
    }

    &.cafe {
      background: url('/assets/img/infrastructure_icons/cafe_icon.svg') no-repeat center;
      background-size: contain;
    }
  }

  &__title {
    position: relative;
    text-transform: uppercase;
    font-family: $NR;
    font-size: 16px;
    user-select: none;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      right: -24px;
      top: 50%;
      display: block;
      width: 14px;
      height: 8px;
      background: url('/assets/img/list_arrow.svg') no-repeat center;
      background-size: contain;
      transform: translate(0, -50%);
      transition: transform .3s ease;
      @include respond-to(mobile) {
        width: 10px;
        height: 5px;
      }
    }
  }
}

.infra-description {

  &__block {
    padding: 30px;
    background-color: #f1f0f0;
    box-shadow: inset 0 0 10px 2px rgba(182, 179, 179, .42);
    display: none;
    @include respond-to(mobile){
      padding: 20px;
    }
  }

  &__title {
    font-family: $NB;
    font-size: 18px;
    margin-bottom: 20px;
    @include respond-to(mobile) {
      font-size: 14px;
    }
  }

  &__content {
    display: flex;
  }

  &__image {
    width: 80px;
    height: 80px;
    flex-shrink: 0;
    margin-right: 20px;
    border-radius: 5px;
    @include respond-to(mobile) {
      width: 70px;
      height: 70px;
      margin-right: 10px;
      border-radius: 2px;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
    @include respond-to(mobile) {
      font-size: 14px;
      line-height: 16px;
    }
  }

  &__link {
    text-decoration: underline;
    color: #a4a3a3;
    @include respond-to(mobile) {
      font-size: 14px;
    }
  }
}
