.infra__block {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  flex-shrink: 0;
}

.infra-map {

  &__rose {
    position: absolute;
    top: 30px;
    right: 550px;
    display: block;
    height: 50px;
    width: 35px;
    background: url('/assets/img/windRose.png') no-repeat center;
    background-size: contain;
    pointer-events: none;
    z-index: 2;
    @include respond-to(mobile) {
      left: auto;
      top: 15px;
      right: 15px;
    }
  }

  &__attention {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding: 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: rgba(0, 0, 0, .3);
    font-family: $NB;
    font-size: 24px;
    color: white;
    z-index: 1;
    opacity: 0;
    pointer-events: none;
    transition: opacity .2s ease;

    &.active {
      opacity: 1;
    }
  }

  &__block {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }

  &__map {
    position: absolute;
    top: 0;
    left: 0;

    & > img {
      width: auto;
      height: 100vh;
      min-height: 1000px;
      pointer-events: none;
    }
  }

  &__shields {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    user-select: none;
  }

  &__zoom {
    position: absolute;
    left: 30px;
    bottom: 40px;
    display: flex;
    flex-direction: column;
    z-index: 100000;
    @include respond-to(mobile) {
      left: auto;
      right: 15px;
      bottom: 65px;
    }
  }

  &__plus, &__minus {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 2px solid $red;
    font-family: $NB;
    font-size: 40px;
    color: $red;
    cursor: pointer;
    user-select: none;
    @include respond-to(mobile){
      width: 30px;
      height: 30px;
    }

    &:hover {
      background-color: $red;
      color: white;
    }
  }

  &__plus {
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
  }

  &__minus {
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
  }
}

.infra-shield {

  &__item {
    position: absolute;
    display: block;
    width: 6vh;
    height: 6vh;
    background: url('/assets/img/infrastructure_icons/infra_icon.png') no-repeat center;
    background-size: contain;
    cursor: pointer;
    transition: transform .3s ease;
    @include respond-to(mobile) {
      transform: scale(3);
    }

    &:hover {
      transform: translate(0, -10px);
      @include respond-to(mobile) {
        transform: translate(0, -10px) scale(3);
      }
    }

    &::after {
      content: '';
      display: block;
      width: 3vh;
      height: 3vh;
      margin: 0.8vh auto 0;
    }

    &.parking {
      &::after {
        background: url('/assets/img/infrastructure_icons/parking_icon.svg') no-repeat center;
        background-size: contain;
      }
    }

    &.school {
      &::after {
        background: url('/assets/img/infrastructure_icons/school_icon.svg') no-repeat center;
        background-size: contain;
      }
    }

    &.kidgarden {
      &::after {
        background: url('/assets/img/infrastructure_icons/kid-garden.svg') no-repeat center;
        background-size: contain;
      }
    }

    &.gym {
      &::after {
        background: url('/assets/img/infrastructure_icons/gym_icon.svg') no-repeat center;
        background-size: contain;
      }
    }

    &.medicine {
      &::after {
        background: url('/assets/img/infrastructure_icons/medicine_icon.svg') no-repeat center;
        background-size: contain;
      }
    }

    &.playground {
      &::after {
        background: url('/assets/img/infrastructure_icons/playground_icon.svg') no-repeat center;
        background-size: contain;
      }
    }

    &.shop {
      &::after {
        background: url('/assets/img/infrastructure_icons/shop_icon.svg') no-repeat center;
        background-size: contain;
      }
    }

    &.mfc {
      &::after {
        background: url('/assets/img/infrastructure_icons/mfc_icon.svg') no-repeat center;
        background-size: contain;
      }
    }

    &.cafe {
      &::after {
        background: url('/assets/img/infrastructure_icons/cafe_icon.svg') no-repeat center;
        background-size: contain;
      }
    }

    &.volleyball {
      &::after {
        background: url('/assets/img/infrastructure_icons/voleyball_icon.svg') no-repeat center;
        background-size: contain;
      }
    }

    &.tennis {
      &::after {
        background: url('/assets/img/infrastructure_icons/ping-pong_icon.svg') no-repeat center;
        background-size: contain;
      }
    }
  }
}