.accessibility_page__container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.accessibility_page__container {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  opacity: 0;
  font-family: $NL;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: opacity 0.3s ease 0.3s;

  &.active {
    opacity: 1;
  }
}

.accessibility_page__container .accessibility__panel {
  width: 520px;
  height: 100%;
  position: absolute;
  right: -520px;
  bottom: 0;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background: #fff;
  will-change: transform;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in;
  z-index: 100001;

  &.route-active {
    transform: translateX(-100vw) translateY(100vh);
  }
}

@media only screen and (max-width: 500px) {
  .accessibility_page__container .accessibility__panel {
    width: 100vw;
    right: -100vw;
    border-radius: 0px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, .1);
  }
}

.accessibility_page__container .accessibility__panel.closed {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.accessibility_page__container .accessibility__panel.closed .accessibility__panel__button img {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.accessibility_page__container .accessibility__panel__button {
  position: absolute;
  top: 50%;
  left: 0;
  height: 30px;
  width: 25px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  background-size: 50%;
  -webkit-transform: translate3d(-25px, -50%, 0);
  transform: translate3d(-25px, -50%, 0);
  cursor: pointer;

  @include respond-to(mobile) {
    display: none;
  }

  &.mobile {
    display: none;

    @include respond-to(mobile) {
      top: auto;
      bottom: 0;
      position: absolute;
      left: 0;
      height: 50px;
      width: 100%;
      text-transform: uppercase;
      font-size: 18px;
      font-family: $NB;
      background: #ee3524;
      color: #fff;
      display: block;
      border-radius: 0;
      z-index: 100002;
      transform: translate(0, 0);
      transition: transform .3s ease;

      &.hidden {
        transform: translate(0, 100%);
      }

      & > div {
        position: absolute;
        display: block;
        opacity: 0;
        top: 50%;
        left: 50%;
        user-select: none;
        transform: translate3d(-50%, -50%, 0) scale(0.9);

        &.active {
          opacity: 1;
          transform: translate3d(-50%, -50%, 0) scale(1);
          transition: opacity 0.3s ease, transform 0.3s ease;
        }
      }
    }
  }
}

.accessibility_page__container .accessibility__panel__button img {
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 80%;
}

.accessibility__map {
  width: 100%;
  height: 100%;
  filter: blur(10px);
  transform: scale(.95);
  transition: transform .3s ease, filter .3s ease .2s;

  &.active {
    filter: blur(0);
    transform: scale(1);
    transition: transform .3s ease .3s, filter .3s ease .2s;
  }
}

.accessibility__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 25px 30px 0;
  background-color: #f1f0f0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 2;
  flex-shrink: 0;

  &.unactive {
    position: absolute;
    width: 100vw;
  }
}

@media only screen and (max-width: 500px) {
  .accessibility__header {
    padding: 25px 10px 0;
    border-radius: 0;
  }
}

.accessibility__breadcrumps {
  font-size: 10px;
  font-family: NeuronLight;
  text-transform: uppercase;
  margin-bottom: 15px;
}

@media only screen and (max-width: 500px) {
  .accessibility__breadcrumps {
    margin-bottom: 0px;
    font-size: 16px;
  }
}

.accessibility__title {
  font-family: Neuron-Black;
  font-size: 26px;
  text-transform: uppercase;
  text-decoration: underline;
  margin-bottom: 15px;
}

@media only screen and (max-width: 500px) {
  .accessibility__title {
    margin-bottom: 20px;
  }
}

.accessibility__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.accessibility__description .description_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.accessibility__description .description_title {
  font-size: 18px;
  font-family: NeuronLight;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.accessibility__description .description_icon {
  background-image: url("/assets/img/panel_accessibility_icon.svg");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: bottom;
  width: 53px;
  height: 32px;
  margin-right: 15px;
}

.accessibility__description .description_text {
  font-family: NeuronLight;
  font-size: 14px;
}

.accessibility-list {
  padding: 30px 0 20px;
  z-index: 0;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 2px 2px rgba(204, 204, 204, 0.2);

  &.active {
    position: relative;
    margin-top: 100px;
    z-index: 10;
    overflow: visible;
  }

  @include respond-to(mobile) {
    padding: 20px 0 20px;
  }
}

.accessibility-list__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: calc(100vh - 320px);
}

.accessibility-list__title {
  font-size: 16px;
  text-transform: uppercase;
  color: #999999;
  font-family: NeuronLight;
  margin: 0 0 25px 30px;

  @include respond-to(mobile) {
    display: none;
  }
}

.accessibility-list::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: -webkit-linear-gradient(bottom, white, rgba(255, 255, 255, 0));
  background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
  pointer-events: none;
}

.points__info_container {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin: 0 30px;
  padding: 16px 0;
  @include respond-to(mobile) {
    margin: 0 15px;
    padding: 15px 0;
  }
}

.points__item_container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  cursor: pointer;
  position: relative;
}

.points__item_container::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  width: calc(100% - 60px);
  height: 1px;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  background-color: #f1f0f0;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;

  @include respond-to(mobile) {
    left: auto;
    right: 0;
    width: calc(100% - 15px);
    transform: translateX(0%);
  }
}

.points__item_container.active::after {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.points__item_container.active .points__item_name {
  text-decoration: underline;
}

.points__item_container.active .points__item_name span {
  text-decoration: none;
}

.points__item_half {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.points__item_icon {
  width: 32px;
  height: 32px;
  margin-right: 15px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding-right: 3px;
}

.points__item_icon.metro {
  background-image: url(/assets/img/metro_icon.png);
}

.points__item_icon.airport {
  background-image: url(/assets/img/airport_icon.png);
}

.points__item_icon.highway {
  background-image: url(/assets/img/highway_icon.png);
}

.points__item_icon.mcad {
  background-image: url(/assets/img/mcad_icon.png);
}

.points__item_name {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  font-family: NeuronBold;
  font-size: 16px;
  text-transform: uppercase;
  @include respond-to(mobile) {
    font-size: 15px;
  }
}

.points__item_name:hover > span {
  text-decoration: underline;
}

.points__item_name > div {
  color: #999999;
  font-family: NeuronLight;
  font-size: 14px;
  text-transform: none;
}

.points__item_opener {
  position: absolute;
  top: 50%;
  right: -25px;
  width: 20px;
  height: 11px;
  background: url(/assets/img/list_arrow.svg) no-repeat center;
  background-size: contain;
  cursor: pointer;
  transform: translate(0, -50%) rotate(0);
  transition: transform 0.3s ease;
  @include respond-to(mobile) {
    right: -15px;
    width: 10px;
    height: 5px;
  }
}

.points__item_opener.opened {
  background: url(/assets/img/list_arrow.svg) no-repeat center !important;
  background-size: contain;
  transform: translate(0, -50%) rotate(180deg);
}

.points__item_time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-family: NeuronBold;
  font-size: 16px;
  @include respond-to(mobile) {
    font-size: 15px;
  }
}

.points__item_time span {
  font-size: 20px;
  font-family: NeuronBold;
  margin-right: 10px;
  @include respond-to(mobile) {
    font-size: 17px;
  }
}

.points__additional_container {
  display: none;
  width: 100%;
  background: #f1f0f0;
  padding: 25px 30px 15px;
  overflow: hidden;
  cursor: pointer;
  will-change: height;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: inset 0 2px 10px 0px rgba(182, 179, 179, 0.4);

  @include respond-to(mobile) {
    padding: 20px 15px 20px;
  }
}

.points__additional__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.points__additional_title {
  font-size: 16px;
  text-transform: uppercase;
  color: #999999;
  margin-bottom: 20px;

  @include respond-to(mobile) {
    display: none;
  }
}

.points__additional_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 8px;
  position: relative;
  @include respond-to(mobile) {
    margin-bottom: 0;
    padding: 20px 0;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      right: -15px;
      width: calc(100% + 15px);
      height: 1px;
      background-color: #e1e1e1;
    }

    &:nth-child(2) {
      padding-top: 0px;
    }
    &:last-child {
      padding-bottom: 0px;

      &::after {
        display: none;
      }
    }
  }
}

.points__additional_item:last-child {
  margin-bottom: 0;
}

.points__additional_item .item__icon {
  width: 14px;
  height: 14px;
  background: red;
  border-radius: 14px;
  border: 5px solid #fff;
  margin-right: 20px;
  box-shadow: 0px 0px 7px 0px #cccccc;
}

.points__additional_item .item__title {
  font-size: 16px;
  text-transform: uppercase;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-family: NeuronBold;
}

.points__additional_item .item__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end;
  font-family: NeuronBold;
  font-size: 16px;
  @include respond-to(mobile) {
    font-size: 15px;
  }
}

.points__additional_item .item__time span {
  font-family: NeuronBold;
  font-size: 20px;
  margin-right: 10px;
  @include respond-to(mobile) {
    font-size: 17px;
  }
}

#transportMap .label {
  position: absolute;
  top: -60px;
  left: -20px;
  -webkit-transform: translateY(-100%);
  transform: translateY(-100%);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  padding: 20px 20px;
  background-color: #fff;
  border-radius: 5px;
  font-family: NeuronLight;
  font-size: 16px;
  text-transform: uppercase;
  pointer-events: none;
}

#transportMap .label.small {
  top: -20px;
  left: -25px;
}

#transportMap .label::before {
  content: '';
  position: absolute;
  left: 20px;
  bottom: -6px;
  border-top: 6px solid #fff;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
}

#transportMap .label_time {
  font-family: NeuronBold;
  font-size: 18px;
  margin-left: 12px;
  line-height: 0.8;
}

#transportMap .label_time span {
  font-family: NeuronLight;
  font-size: 14px;
  text-transform: lowercase;
}

.routes__container {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: calc(100% - 60px);
  height: 100%;
  padding: 30px;
  background: #ffffff;
  display: none;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  @include respond-to(mobile) {
    padding: 15px;
    width: 100%;
    box-sizing: border-box;
  }
}

.routes__container.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.routes__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;

  @include respond-to(mobile) {
    flex-grow: 1;
    align-items: flex-start;
    background: #f1f0f0;
    width: calc(100% + 30px);
    margin-left: -15px;
    height: calc(100% + 15px);
    margin-bottom: -15px;
    padding-top: 15px;
  }
}

.routes__title {
  font-family: NeuronBold;
  font-size: 18px;
  text-decoration: underline;
  text-transform: uppercase;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  line-height: 0.8;
  margin-bottom: 35px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  position: relative;

  @include respond-to(mobile) {
    font-family: Neuron;
    font-size: 16px;
    width: calc(100% + 30px);
    margin-left: -15px;
    padding: 20px 15px;
    margin-bottom: 0;
    margin-top: -15px;
    text-decoration: none;
    box-shadow: -15px 20px 35px -27px rgba(0, 0, 0, 0.4);

    &:hover {
      text-decoration: underline;
    }

    &.metro::before {
      background-image: url(/assets/img/metro_icon.png);
    }

    &.mcad::before {
      background-image: url(/assets/img/mcad_icon.png);
    }
    &.airport::before {
      background-image: url(/assets/img/airport_icon.png);
    }
    &.highway::before {
      background-image: url(/assets/img/highway_icon.png);
    }

    &::after {
      content: '';
      width: 12px;
      height: 22px;
      display: block;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      background-image: url(/assets/img/card_arrows.svg);
      right: 50px;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
    }
  }
}

.routes__title::before {
  content: '';
  width: 22px;
  height: 11px;
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  background: url(/assets/img/list_arrow.svg) no-repeat center;
  background-size: contain;

  @include respond-to(mobile) {
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    transform: rotate(0deg);
    margin-right: 10px;
  }
}

.routes__list {
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  width: 100%;
  height: 100%;
  z-index: 1;
  will-change: transform;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;

  @include respond-to(mobile) {
    position: absolute;
    height: 100vh;
    transform: translateY(100%);
  }
}

.routes__list.active {
  -webkit-transform: translateY(0%);
  transform: translateY(0%);
  z-index: 2;

  @include respond-to(mobile) {
    transform: translateY(-100px);
  }
}

.routes-rows__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 80%;
  position: relative;

  @include respond-to(mobile) {
    width: calc(100% - 30px);
    margin-left: 15px;
  }
}

.routes__row {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  cursor: pointer;

  @include respond-to(mobile) {
    overflow: scroll;
    margin-bottom: 10px;
    padding-bottom: 10px;
    position: relative;

    &::after {
      content: '';
      position: absolute;
      width: calc(100% + 15px);
      height: 1px;
      bottom: 0px;
      right: -15px;
      background: #000;
      opacity: 0.1;
    }

  }
}

.routes__row:hover .routes__time {
  color: #e3051a;
}

.routes__row.active {
  cursor: default;
}

.routes__row.active .routes__time {
  color: #e3051a;
}

.routes__row:last-child {
  margin-bottom: 0;
}

.routes__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  font-family: NeuronBold;
  font-size: 22px;
  line-height: 0.8;
  margin-right: 15px;
  cursor: pointer;
}

.routes__time:hover {
  color: #e3051a;
}

.routes__time > span {
  font-family: NeuronLight;
  font-size: 16px;
}

.routes__icon {
  width: 37px;
  height: 37px;
  border-radius: 50px;
  background-size: 80%;
  background-position: center;
  background-repeat: no-repeat;
  border-width: 2px;
  border-style: solid;
  -ms-flex-negative: 0;
  flex-shrink: 0;

  @include respond-to(mobile) {
    background-color: #fff;
  }
}

.routes__icon.dot {
  width: 10px;
  height: 10px;
  border-radius: 10px;

  @include respond-to(mobile) {
    display: none;
  }
}

.routes__icon.dot.green {
  background-color: #20a78f;
}

.routes__icon.dot.orange {
  background-color: #f08e53;
}

.routes__icon.dot.red {
  background-color: #e3051a;
}

.routes__icon.steps {
  background-image: url(/assets/img/route_icon_steps.svg);
}

.routes__icon.bus {
  background-image: url(/assets/img/route_icon_bus.svg);
}

.routes__icon.car {
  background-image: url(/assets/img/route_icon_car.svg);
}

.routes__icon.green {
  border-color: #20a78f;
}

.routes__icon.orange {
  border-color: #f08e53;
}

.routes__icon.red {
  border-color: #e3051a;
}

.routes__icon.blue {
  border-color: #5fa9de;
}

.routes__line {
  height: 3px;
  width: 100%;
  background: #000;
  margin-right: 10px;
  position: relative;

  @include respond-to(mobile) {
    height: 40px;
    background-color: transparent !important;
    display: flex;
    align-items: center;
    width: auto !important;
  }
}

.routes__line::before {
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  width: 15px;
  height: 3px;
  -webkit-transform: rotate(-50deg) translateY(160%);
  transform: rotate(-50deg) translateY(160%);
  background-color: #000;
  border-radius: 20px;

  @include respond-to(mobile) {
    top: 0%;
    width: 3px;
    height: 15px;
    transform: translateY(120%) rotate(35deg);
  }
}

.routes__line::after {
  content: '';
  position: absolute;
  top: -50%;
  right: 0;
  width: 15px;
  height: 3px;
  -webkit-transform: rotate(50deg) translateY(-160%);
  transform: rotate(50deg) translateY(-160%);
  background-color: #000;
  border-radius: 20px;

  @include respond-to(mobile) {
    top: 0%;
    width: 3px;
    height: 15px;
    transform: translateY(50%) rotate(-35deg);
  }
}

.routes__line.blue {
  background-color: #5fa9de;
}

.routes__line.blue.active {
  box-shadow: 0 0 6px 2px rgba(95, 169, 222, 0.4);

  @include respond-to(mobile) {
    box-shadow: none;
  }
}

.routes__line.blue.active::before, .routes__line.blue.active::after {
  box-shadow: 0 0 6px 2px rgba(95, 169, 222, 0.4);
}

.routes__line.blue::before {
  background-color: #5fa9de;
}

.routes__line.blue::after {
  background-color: #5fa9de;
}

.routes__line.green {
  background-color: #20a78f;
}

.routes__line.green.active {
  box-shadow: 0 0 6px 2px rgba(32, 167, 143, 0.4);

  @include respond-to(mobile) {
    box-shadow: none;
  }
}

.routes__line.green.active::before, .routes__line.green.active::after {
  box-shadow: 0 0 6px 2px rgba(32, 167, 143, 0.4);
}

.routes__line.green::before {
  background-color: #20a78f;
}

.routes__line.green::after {
  background-color: #20a78f;
}

.routes__line.orange {
  background-color: #f08e53;
}

.routes__line.orange.active {
  box-shadow: 0 0 6px 2px rgba(239, 142, 83, 0.4);

  @include respond-to(mobile) {
    box-shadow: none;
  }
}

.routes__line.orange.active::before, .routes__line.orange.active::after {
  box-shadow: 0 0 6px 2px rgba(239, 142, 83, 0.4);
}

.routes__line.orange::before {
  background-color: #f08e53;
}

.routes__line.orange::after {
  background-color: #f08e53;
}

.routes__line.red {
  background-color: #e3051a;
}

.routes__line.red.active {
  box-shadow: 0 0 6px 2px rgba(227, 5, 26, 0.4);

  @include respond-to(mobile) {
    box-shadow: none;
  }
}

.routes__line.red.active::before, .routes__line.red.active::after {
  box-shadow: 0 0 6px 2px rgba(227, 5, 26, 0.4);
}

.routes__line.red::before {
  background-color: #e3051a;
}

.routes__line.red::after {
  background-color: #e3051a;
}

.routes__line .routes-line__time {
  position: absolute;
  top: -18px;
  left: 5px;
  color: #726659;
  white-space: nowrap;

  @include respond-to(mobile) {
    position: relative !important;
    top: auto !important;
    left: auto !important;
    margin: 0 10px;
    font-size: 14px;
  }
}

.routes__point {
  padding-left: 35px;
  margin-right: 10px;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-family: NeuronBold;
  font-size: 12px;
  text-transform: uppercase;
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: left center;
}

.routes__point.highway {
  background-image: url(/assets/img/highway_list_icon.png);
}

.routes__point.metro {
  background-image: url(/assets/img/metro_icon.png);
}

.routes__point.metro.not_realized {
  background-image: url(/assets/img/metro_icon_grey.png);
}

.routes__point > span {
  color: #e62d23;
}

.routes__end-point {
  width: 20%;
  text-align: center;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  font-family: NeuronBold;
  font-size: 14px;
  text-transform: uppercase;

  &.m-hide {
    display: flex;
  }

  @include respond-to(mobile) {
    flex-direction: row;
    text-align: left;
    width: auto;
    display: flex;
    flex-grow: 0;

    &.m-hide {
      display: none;
    }
  }
}

.routes__end-point::before {
  content: '';
  height: 55px;
  width: 100%;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center top;

  @include respond-to(mobile) {
    width: 30px;
    height: 30px;
    display: block;
    flex-shrink: 0;
    margin-right: 5px;
    margin-bottom: 0px;
  }
}

.routes__end-point span:nth-child(2) {
  color: #e62f24;

  @include respond-to(mobile) {
    margin-left: 5px;
  }
}

.routes__end-point.highway::before {
  background-image: url(/assets/img/highway_list_icon.png);
}

.routes__end-point.metro::before {
  background-image: url(/assets/img/metro_icon.png);
}

.route__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  cursor: pointer;
  position: relative;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);

  @include respond-to(mobile) {
    width: auto;
  }
}

.route__container.disable {
  pointer-events: none;
}

.route__container.disable::after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 50px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.6);
  pointer-events: none;

  @include respond-to(mobile) {
    background: rgba(244, 244, 244, 0.6);
  }
}

.route__container.active:hover .route__desc {
  opacity: 1;
  -webkit-transform: translateY(-110%) translateX(-2%);
  transform: translateY(-110%) translateX(-2%);
}

.route__container.oktyab {
  width: 115px;
}

.route__container.oktyab__sec {
  width: 150px;
}

.route__container .route__desc {
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform: translateY(0%) translateX(-2%);
  transform: translateY(0%) translateX(-2%);
  opacity: 0;
  padding: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: nowrap;
  background: #fff;
  box-shadow: 0 0 15px 0 rgba(204, 204, 204, 0.6);
  border-radius: 5px;
  font-size: 14px;
  font-family: NeuronLight;
  color: #726659;
  pointer-events: none;
  will-change: opacity, transform;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease;
  transition: opacity 0.3s ease, transform 0.3s ease, -webkit-transform 0.3s ease;
}

.route__container .route__desc span {
  font-family: Neuron-Black;
  color: #000;
}

.route__container .route__desc::after {
  content: '';
  position: absolute;
  bottom: -6px;
  left: 15px;
  border-top: 8px solid #fff;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
}

.route__container .route__desc-icon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.route__container .route__desc-icon.bus {
  background-image: url(/assets/img/route_icon_bus.svg);
}

.routes__line.aero-line {
  height: 30px;
  margin-top: 20px;
  background-color: white;
  background-image: url(/assets/img/aero-line.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left bottom;

  @include respond-to(mobile) {
    height: 40px;
    background-color: transparent !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0;
    background-image: none;
  }
}

.routes__line.aero-line.active {
  background-image: url(/assets/img/aero-line__hover.png);

  @include respond-to(mobile) {
    background-image: none;

    &::before, &::after {
      box-shadow: 0 0 6px 2px rgba(239, 142, 83, 0.4);
    }
  }
}

.routes__line.aero-line:before {
  display: none;

  @include respond-to(mobile) {
    display: block;
    background-color: #f08e53;
  }
}

.routes__line.aero-line:after {
  display: none;

  @include respond-to(mobile) {
    display: block;
    background-color: #f08e53;
  }
}

.routes__line.oktyab {
  background-color: #fff;
  background-image: url(/assets/img/okt-line.png);
  background-repeat: no-repeat;
  background-position: -2px 1px;
  background-size: 90%;
  height: 30px;
  margin-top: 20px;

  @include respond-to(mobile) {
    height: 40px;
    background-color: transparent !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin-top: 0;
    background-image: none;
  }
}

.routes__line.oktyab.active {
  background-image: url(/assets/img/okt-line__hover.png);
  background-size: 100%;
  background-position: 0 -6px;
}

.routes__line.oktyab::before {
  display: none;

  @include respond-to(mobile) {
    display: block;
    background-color: #5fa9de;
  }
}

.routes__line.oktyab::after {
  display: none;

  @include respond-to(mobile) {
    display: block;
    background-color: #5fa9de;
  }
}

.mCSB_scrollTools.mCSB_scrollTools {
  position: absolute;
}

.mCSB_container.mCSB_container {
  margin-right: 0;
}

.mCSB_scrollTools .mCSB_draggerRail {
  width: 5px;
  border-radius: 0;
  background: #f5f5f5;
}

.mCSB_scrollTools .mCSB_dragger_bar.mCSB_dragger_bar.mCSB_dragger_bar {
  width: 5px;
  border-radius: 0;
  background: #e3051a;
}

.accessibility-list__title__mobile {
  font-family: NeuronLight;
  font-size: 16px;
  text-transform: uppercase;
  margin-left: 20px;
  line-height: 0.6;
  align-items: flex-end;
  margin-bottom: 25px;
  display: none;

  @include respond-to(mobile) {
    display: flex;
  }
}

.accessibility-list__title__mobile::before {
  content: '';
  width: 20px;
  height: 20px;
  background-image: url("/assets/img/panel_accessibility_icon.svg");
  display: block;
  margin-right: 5px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center bottom;
}

.routes-rows__container.airport {

  @include respond-to(mobile) {
    display: flex;
    flex-direction: row;
    width: calc(100% - 30px);
    justify-content: flex-start;
    overflow: scroll;
  }
}

.routes-rows__container.airport .routes__row {

  @include respond-to(mobile) {
    width: auto !important;
    margin: 0 !important;
    flex-shrink: 0;
    overflow: hidden;
  }
}

.routes-rows__container.airport .routes__row:nth-child(2) {

  @include respond-to(mobile) {
    height: 40px !important;
    padding-bottom: 10px;
    margin-left: 0px !important;
  }
}

.m-hide {
  @include respond-to(mobile) {
    display: none;
  }
}

#transportMap .label.home {
  top: -90px;
  left: -25px;
}

.toggle {
  width: 100%;
  box-sizing: border-box;
  height: auto;
  right: auto;
  top: auto;
  background-image: none;
  background: none;
}

.opened {
  color: #000;
  background: none !important;
}
