.news_map {

  &__block {
    position: absolute;
    top:0;
    left: 0;
    display: none;
    width: 100%;
    height: 100vh;
  }

  &__item {
    position: absolute;
    top:0;
    left: 0;
    display: flex;

    & img{
      width: auto;
      height: 100vh;
      pointer-events: none;
    }
  }
}