* {
  margin: 0;
  padding: 0
}

@import "styles/fonts";

@import "styles/slick";
@import "styles/slick-theme";

$small: 500px;

@mixin respond-to($media) {
  @if $media == mobile {
    @media only screen and (max-width: $small) { @content; }
  }
}

$black: #1f1f1f;
$grey: #999999;
$lgrey: rgb(241, 240, 240);
$red: #e52528;

$h1: 10px;
$h2: 26px;
$h3: 18px;
$h4: 16px;


$NR: Neuron;
$NL: NeuronLight;
$NB: NeuronBold;
$NBL: Neuron-Black;

.accessibility_page__container {
  width: 100vw;
  height: 100vh;
  position: relative;
}

//libs styles
@import "styles/jquery.mCustomScrollbar.css";
@import "styles/slick-slider";

//styles
@import "styles/accessibility-tabs";

@import "styles/location";

@import "styles/infra-map";
@import "styles/infra-list";

@import "styles/accessibility-news-panel";
@import "styles/accessibility-news-list";
@import "styles/accessibility-news-scheme";
@import "styles/news_map";


@import "styles/mobile";

.m-hide{
  @include respond-to(mobile){
    display: none;
  }
}

.m-show{
  display: none;
  @include respond-to(mobile){
    display: flex;
  }
}


